@()

@main("Welcome to Play") {
  <h1>Word Path Finding!</h1>
  <p> This cool web app calculates the shortest path it takes to transform one word into another! </p>
  <p> Each step of transformation allows three types of operation: single character substitution or deletion or insertion.</p>
  <p> And each step must be in the dictionary.</p>
  <p> The <a href='https://github.com/dwyl/english-words'> dictionary </a> has 370101 entries.</p>
  
   From: <input type='text' name='from' id='start'/>
   To: <input type='text' name='to' id='end'/>
   <button id='submit' class='btn-primary'>submit</button>
 
      
   <p id='result'> </p>
  
  
}
